/* Navigation bar styles */
#name-button{
    color: rgb(255, 132, 0);
    font-size: 1.8rem;
    font-family: "momo trust sans", "Arial", sans-serif;
    font-weight: 600;
    padding-block: 10px;
    padding-left: 10px;
    text-decoration:none;
    text-align: left;
}

#art{
    color: rgb(126, 124, 120);
    font-size: 1.3rem;
    font-family: "momo trust sans", "Arial", sans-serif;
    padding-left: 10px;
    padding-block: 0px;
    text-align: left;
}

.nav-button{
    font-size: 1.3rem;
    font-family: "momo trust sans", "Arial", sans-serif;
    text-decoration: none;
    color: rgb(255, 132, 0);
    padding-left: 10px;
    padding-right: 10px;
}

.nav-button:hover{
    color: rgb(0, 196, 222);
}

.nav-bar{
    padding:20px;
}

.name-title{
    display: inline;
}

.container-buttons{
    float: right;
    padding-top: 5px;
}

/* Navigation bar styles end */

/* Body styles */
body {
    background-color: rgb(255, 252, 246);
}
/* Body styles end */

/* Index page styles */
#heading1{
    color: rgb(255, 132, 0);
    font-size: 3.8rem;
    font-family: "momo trust sans", "Arial", sans-serif;
    font-weight: 600;
    text-align: center;
    background-color: rgb(255, 252, 246);
    width: 800px;
    height: 90px;
    margin: auto;
    padding-top: 50px;
    position: absolute;
    top: 44%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#heading2{
    color: rgb(126, 124, 120);
    font-size: 2.2rem;
    font-family: "momo trust sans", "Arial", sans-serif;
    font-weight: 300;
    text-align: center;
    background-color: rgb(255, 252, 246);
    width: 800px;
    height: 150px;
    margin: auto;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#portfolio-button-home{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
            
#about-button-home{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#portfolio-button-home{
    left: 44%;
    top: 61%;
}
    
#about-button-home{
    left: 56%;
    top: 61%;
}
/* Index page styles end */

/* Portfolio page styles */
.gallery{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
    padding-top: 100px;
    justify-content: center;
}

.project-thumbnail{
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 1px;
  width: 300px;
  height: 400px;
}

.project-thumbnail:hover{
  box-shadow: 0 0 2px 1px rgba(0, 191, 255, 0.5);
}
/* Portfolio page styles end */

/* Project page styles */
.project-content{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
    padding-top: 100px;
    justify-content: center;
}

#project-title{
    color: rgb(255, 132, 0);
    font-size: 1.5rem;
    font-family: "momo trust sans", "Arial", sans-serif;
    font-weight: 500;
    text-decoration:none;
    padding-top: 50px;
    text-align: center;
}

#project-subtitle{
    color: rgb(126, 124, 120);
    font-size: 1.3rem;
    font-family: "momo trust sans", "Arial", sans-serif;
    font-weight: 300;
    text-align: center;
}

#project-description{
    color: rgb(126, 124, 120);
    font-size: 1.1rem;
    font-family: "momo trust sans", "Arial", sans-serif;
    font-weight: 300;
    text-align: center;
}
/* Project page styles end */

/* About page styles */

#about-contact-button{
    color: rgb(255, 132, 0);
    text-decoration:none;
}

#about-contact-button:hover{
    color: rgb(0, 196, 222);
}

.about-text{
    color: rgb(126, 124, 120);
    font-size: 1.2rem;
    font-family: "momo trust sans", "Arial", sans-serif;
    font-weight: 300;
    line-height: 1.6;
    max-width: 600px;
    display: inline-block;
    text-align: justify;
}

.about-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 175px;
    padding-top: 100px
}
/* About page styles end */

/* Contact page styles */
.contact-container{
    padding: 20px;
    padding-top: 10px;
}

#contact-title{
    color: rgb(255, 132, 0);
    font-size: 1.5rem;
    font-family: "momo trust sans", "Arial", sans-serif;
    font-weight: 500;
    text-decoration:none;
    padding-top: 50px;
    text-align: center;

}

#contact-paragraph{
    color: rgb(126, 124, 120);
    font-size: 1.3rem;
    font-family: "momo trust sans", "Arial", sans-serif;
    font-weight: 300;
    text-align: center;
}

.contact-form-text{
    color: rgb(126, 124, 120);
    font-size: 1.1rem;
    font-family: "momo trust sans", "Arial", sans-serif;
    font-weight: 300;
    text-align: center;
}

#name, #email{
    width: 250px;
}

#message{
    width: 450px;
}

.contact-links{
    color: rgb(255, 132, 0);
    text-decoration:none;
}

.contact-links:hover{
    color: rgb(0, 196, 222);
}
/* Contact page styles end */

@media (max-width: 800px){
    .container-buttons{
        float: left;
    }
}