/* Navigation bar styles */
#name-button{
    color: rgb(255, 132, 0);
    font-size: 1.8rem;
    font-family: "momo trust sans", "Arial", sans-serif;
    font-weight: 600;
    padding-left: 10px;
    text-decoration:none;
    text-align: left;
}

#art{
    color: rgb(126, 124, 120);
    font-size: 1.3rem;
    font-family: "momo trust sans", "Arial", sans-serif;
    padding-left: 10px;
    text-align: left;
}

.logo-nav{
    margin: 0;
    position: absolute;
    top: 3%;
    left: 48%;
}

.nav-button{
    font-size: 1.3rem;
    font-family: "momo trust sans", "Arial", sans-serif;
    text-decoration: none;
    color: rgb(255, 132, 0);
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

.nav-button:hover{
    color: rgb(0, 196, 222);
}

.nav-bar{
    padding:20px;
}

.name-title{
    display: inline;
}

.container-buttons{
    float: right;
    padding-top: 5px;
}
/* Navigation bar styles end */

/* Body styles */
body {
    background-color: rgb(255, 252, 246);
}
/* Body styles end */

/* Index page styles */
#heading1{
    color: rgb(255, 132, 0);
    font-size: 3.8rem;
    font-family: "momo trust sans", "Arial", sans-serif;
    font-weight: 600;
}

#heading2{
    color: rgb(126, 124, 120);
    font-size: 2.2rem;
    font-family: "momo trust sans", "Arial", sans-serif;
    font-weight: 300;
}

.home-container{
    text-align: center;
    line-height: 1;
    background-color:rgb(255, 252, 246);
}

.center{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background-color:rgb(255, 252, 246);
    padding-top: 20px;
    padding-left: 80px;
    padding-right: 80px;
    padding-bottom: 45px;
}

.nav-button-home{
    font-size: 1.3rem;
    font-family: "momo trust sans", "Arial", sans-serif;
    text-decoration: none;
    color: rgb(255, 132, 0);
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 30px;
    padding-right: 30px;
    line-height: 2;
}

.nav-button-home:hover{
    color: rgb(0, 196, 222);
}

/* Index page styles end */

/* Portfolio page styles */
.gallery{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
    padding-top: 80px;
    justify-content: center;
}

.project-thumbnail{
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 1px;
  width: 300px;
  height: 400px;
}

.project-thumbnail:hover{
  box-shadow: 0 0 2px 1px rgba(0, 191, 255, 0.5);
}
/* Portfolio page styles end */

/* Project page styles */
.project-content{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
    padding-top: 80px;
    justify-content: center;
}

#project-title{
    color: #ff8400;
    font-size: 1.5rem;
    font-family: "momo trust sans", "Arial", sans-serif;
    font-weight: 500;
    text-decoration:none;
    padding-top: 80px;
    text-align: center;
}

#project-subtitle{
    color: rgb(126, 124, 120);
    font-size: 1.3rem;
    font-family: "momo trust sans", "Arial", sans-serif;
    font-weight: 300;
    text-align: center;
}

#project-description{
    color: rgb(126, 124, 120);
    font-size: 1.1rem;
    font-family: "momo trust sans", "Arial", sans-serif;
    font-weight: 300;
    text-align: center;
}
/* Project page styles end */

/* About page styles */
#about-contact-button{
    color: rgb(255, 132, 0);
    text-decoration:none;
    padding-block: 5px;
    padding-right: 5px;
}

#about-contact-button:hover{
    color: rgb(0, 196, 222);
}

.about-text{
    color: rgb(126, 124, 120);
    font-size: 1.1rem;
    font-family: "momo trust sans", "Arial", sans-serif;
    font-weight: 300;
    line-height: 1.6;
    max-width: 600px;
    display: inline-block;
    text-align: justify;
    padding-left: 20px;
    padding-right: 20px;
}

.about-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 175px;
    padding-top: 80px
}
/* About page styles end */

/* Contact page styles */
#contact-title{
    color: rgb(255, 132, 0);
    font-size: 1.5rem;
    font-family: "momo trust sans", "Arial", sans-serif;
    font-weight: 500;
    text-decoration:none;
    padding-top: 80px;
    text-align: center;

}

#contact-paragraph{
    color: rgb(126, 124, 120);
    font-size: 1.3rem;
    font-family: "momo trust sans", "Arial", sans-serif;
    font-weight: 300;
    text-align: center;
}

.contact-form-text{
    color: rgb(126, 124, 120);
    font-size: 1.1rem;
    font-family: "momo trust sans", "Arial", sans-serif;
    font-weight: 300;
    text-align: center;
}

#name, #email{
    width: 250px;
}

#message{
    width: 450px;
}

.contact-links{
    color: rgb(255, 132, 0);
    text-decoration:none;
}

.contact-links:hover{
    color: rgb(0, 196, 222);
}
/* Contact page styles end */

/* tablet size screen adjustments */
@media screen and (max-width: 1000px){

    .logo-nav{
        margin: 0;
        position: absolute;
        top: 2%;
        left: 3%;
    }

    #name-button{
        display: none;
    }

    #art{
        display: none;
    }

    #heading1{
        line-height: 1.2;
    }

    #heading2{
        line-height: 1.2;
    }
}
/* tablet size screen adjustments end */

/*phone size screen adjustments */
@media screen and (max-width: 600px) {
        
    .nav-button{
        font-size: 1.0rem;
    }

    #logo-nav{
        width: 10%;
    }

    /* Index page adjustments */
    .center{
        padding-top: 25px;
        padding-left: 50px;
        padding-right: 50px;
        padding-bottom: 60px;
    }

    #heading1{
        line-height: 1.2;
    }

    #heading2{
        line-height: 1.2;
    }
    /* index page adjustments end */

    /* project page adjustments */
    #project-title{
        font-size: 1.2rem;
    }

    #project-subtitle{
        font-size: 1.0rem;
    }

    #project-description{
        font-size: 1.0rem;
    }

    #Lorna-portrait-project{
        width: 80%
    }

    #Lorna-sketch{
        width: 80%
    }
    /* project page adjustments end */

    /* contact page adjustments */
    #contact-title{
        font-size: 1.2rem;
    }

    #contact-paragraph{
        font-size: 1.0rem;
    }

    .contact-form-text{
        font-size: 1.0rem;
    }

    #message{
        width: 300px;
    }
    /* contact page adjustments end */
}
/* phone size screen adjustments end */