#heading1{
    color: rgb(255, 132, 0);
    font-size: 3.8rem;
    font-family: "momo trust sans", "Arial", sans-serif;
    font-weight: 600;
    text-align: center;
    background-color: rgb(255, 252, 246);
    width: 800px;
    height: 90px;
    margin: auto;
    padding-top: 50px;
}

#heading2{
    color: rgb(126, 124, 120);
    font-size: 2.2rem;
    font-family: "momo trust sans", "Arial", sans-serif;
    font-weight: 300;
    text-align: center;
    background-color: rgb(255, 252, 246);
    width: 800px;
    height: 150px;
    margin: auto;
}

body {
    background-color: rgb(255, 252, 246);
}

#name_button{
    color: rgb(255, 132, 0);
    font-size: 1.8rem;
    font-family: "momo trust sans", "Arial", sans-serif;
    font-weight: 600;
    padding-block: 10px;
    padding-left: 10px;
    text-decoration:none;
}

.nav-button{
    font-size: 1.3rem;
    font-family: "momo trust sans", "Arial", sans-serif;
    text-decoration: none;
    color: rgb(255, 132, 0);
    padding-block: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

.nav-button:hover{
    color: rgb(0, 196, 222);
}

#art{
    color: rgb(126, 124, 120);
    font-size: 1.3rem;
    font-family: "momo trust sans", "Arial", sans-serif;
    padding-left: 10px;
    padding-block: 0px;
}

.nav-bar{
    padding:20px;
}

.container-buttons{
    float: right;
}

.gallery{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
    padding-top: 100px;
    justify-content: center;
}

.project-thumbnail{
  border: 1px solid #ddd; /* Gray border */
  border-radius: 4px;  /* Rounded border */
  padding: 1px; /* Some padding */
  width: 300px; /* Set a small width */
  height: 400px;
  
}

.project-thumbnail:hover{
  box-shadow: 0 0 2px 1px rgba(0, 191, 255, 0.5);
}

.project-content{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
    padding-top: 100px;
    justify-content: center;
}

#project-title, #contact-title{
    color: rgb(255, 132, 0);
    font-size: 1.5rem;
    font-family: "momo trust sans", "Arial", sans-serif;
    font-weight: 500;
    text-decoration:none;
    padding-top: 50px;
    text-align: center;
}

#project-subtitle, #contact-paragraph{
    color: rgb(126, 124, 120);
    font-size: 1.3rem;
    font-family: "momo trust sans", "Arial", sans-serif;
    font-weight: 300;
    text-align: center;
}

#project-description, .contact-form-text{
    color: rgb(126, 124, 120);
    font-size: 1.1rem;
    font-family: "momo trust sans", "Arial", sans-serif;
    font-weight: 300;
    text-align: center;
}
.about-page-text{
    color: rgb(126, 124, 120);
    font-size: 1.2rem;
    font-family: "momo trust sans", "Arial", sans-serif;
    font-weight: 300;
    line-height: 1.6;
    text-align: justify;
}

.contact-container{
    padding: 20px;
    padding-top: 50px;
    text-align: center;
    max-width: fit-content;
    padding-left: 580px;
}